@charset "utf-8";



.sub{
  background-color: rgb(255, 208, 0);
  position: relative;
  top: 100px;
  left: 200px;
}
.quick{
  background-color:purple;
  position: fixed;
  top: 
}
div{
  position: relative;
}
p{
  background: pink;
}
.note{
  background-color: olivedrab;
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;

}